* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #202124;
  color: white;
  /* background-color: #ead3d3; */
  background-color: rgb(255, 255, 255);
}
